/*=====================================================================
==========================   header-section-scss  =========================
========================================================================*/
header {
  @include full-width;
}

//top-head
.top-head {
  @include full-width;
  background: $white;

  @include mq(min, 1321) {
    &:after {
      content: '';
      position: absolute;
      right: 0;
      background: $black;
      height: 100%;
      width: 16%;
      bottom: 0;
    }
  }

  // container
  .container {
    backface-visibility: hidden;
    @include mq(max, 1500) {
      width: 100%;
    }
  }

  //navbar-toggle
  button.navbar-toggle {
    background-color: transparent;
    color: $black;
    font-size: 25px;
    margin: 0;
    padding: 0 15px;
    border: none;

    &:hover, &:active, &:focus {
      background: none;
      color: $dyellow;
    }
  }

}

//navbarCustom
.navbarCustom {
  width: 100%;
  padding: 29px 0 14px;

  .navbar {
    margin: 0;
    padding: 0;
  }

  //navbar-brand
  .navbar-brand {
    margin: 0;
    padding: 0;
    display: block;
    margin-right: 35px;

    @include min-max(992, 1320) {
      margin-right: 5px;
    }

    img {
      @include min-max(992, 1320) {
        width: 150px;
      }
    }
  }

  //navbar-default
  .navbar-default {
    background: transparent;
    border: none;

    .navbar-nav {
      margin: 0;

      @include mq(max, 767) {
        margin: 0 auto;
        text-align: center;
      }

      li {
        a {
          @include robotoCondensed(bold700);
          font-size: 15.85px;
          color: $black;
          text-transform: uppercase;
          font-weight: 900;
          padding: 10px 9px;
          @include transition(all 0.5s);
          &:hover {
            color: $dyellow;
            @include mq(max, 767) {
              background: $dyellow;
              color: $black;
            }
          }

          @include min-max(992, 1320) {
            font-size: 13px;
            padding: 8px 5px;
          }

          @include mq(max, 767) {
            border-bottom: 1px solid $lightgray;
          }

        }
      }
    }
  }

  //navbar-collapse
  .navbar-collapse {
    padding: 0;
  }

}

//menuHead-right
.menuHead-right {
  padding-left: 28px;

  @include mq(max, 1199) {
    padding-left: 0;
  }

  @include mq(max, 535) {
    .col-xs-6 {
      width: 100%;
    }
  }

  .col-md-6 {
    padding-right: 0;

    @include mq(max, 991) {
      padding-right: 15px;
    }
  }

  @include mq(max, 500) {
    position: relative;
  }
}

//actuellement-head
.actuellement-head {
  position: relative;
  padding: 24px 0 24px 20px;

  @include min-max(1023, 1320) {
    padding: 28px 0 28px 15px;
  }
  @include mq(max, 1022) {
    padding: 18px 0 18px 15px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 66px;
    margin-top: -33px;
    width: 8px;
    @include imgurl(menu-right-icon, png);
    background-position: left center;
  }

  h3 {
    @include roboto(regular400);
    color: $black;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.1px;
    line-height: 2;

    @include min-max(992, 1320) {
      font-size: 12px;
      line-height: 1.4;
    }
    @include custom-max(410) {
      font-size: 11px;
    }
  }

  ul {
    li {
      @include roboto(bold700);
      font-size: 14px;
      color: $dyellow;
      display: inline-block;

      &:first-child {
        padding-right: 14px;

        @include min-max(992, 1320) {
          padding-right: 8px;
        }
        @include custom-max(410) {
          padding-right: 0;
        }
      }

      @include min-max(992, 1320) {
        font-size: 12px;
      }

      @include mq(max, 500) {
        display: block;
      }
    }
  }

  @include mq(max, 500) {
    position: absolute;
    padding: 17px 27px 17px 15px;
    right: 0;
    z-index: 9;

    h3 {
      color: $white;
    }

    &:after {
      @include imgurl(menu-right-icon-white, png);
    }
  }
  @include custom-max(410) {
    padding: 17px 4px 17px 10px;
  }
}

//head-language
.head-language {
  position: relative;
  background: $black;
  margin-left: 13px;
  padding: 10px 15px 15px;

  @include mq(max, 1366) {
    margin-left: 0;
  }

  @include mq(max, 991) {
    padding: 10px 15px;
  }
  @include custom-max(410) {
    padding: 10px 0;
  }
}

//connexion
.connexion {
  position: relative;
  z-index: 99;

  @include mq(max, 500) {
    z-index: 0;
  }

  .btn {
    @include robotoCondensed(regular400);
    font-size: 13.83px;
    color: $white;
    border: 2px solid $white;
    padding: 5px 18px;
    text-transform: uppercase;
    @include border-radius(0);

    @include min-max(992, 1320) {
      font-size: 12px;
    }
    @include custom-max(410) {
      font-size: 11px;
    }

    &.btn-connexion {
      float: left;
      margin-bottom: 8px;

      img {
        display: block;
        float: left;
        position: relative;
        left: -8px;
        top: 4px;
      }
    }

    &.btn-comment {
      padding: 5px 15px;
      color: #ffebc2;
    }
  }

  ul {
    margin: 0;
    padding: 2px;

    @include mq(max, 991) {
      padding: 6px;
      margin-bottom: 15px;
    }

    @include mq(max, 500) {
      display: table;
    }

    li {
      display: inline-block;
      color: $white;

      &:first-child {
        padding-left: 13px;
        @include custom-max(410) {
          padding-left: 0;
        }
      }

      &:nth-child(2) {
        @include mq(max, 500) {
          padding-left: 4px;
        }
      }

      a {
        text-transform: uppercase;
        @include robotoCondensed(regular400);
        font-size: 15px;
        color: $white;

        @include min-max(992, 1320) {
          font-size: 12px;
        }
      }

      &.active {
        a {
          border-bottom: 2px solid $dred;
        }
      }
    }
  }
}

//col-500-none
.col-500-none {
  @include mq(max, 500) {
    background: $black;
  }
}

/*=====================================================================
==========================   Modal-popup  =========================
========================================================================*/
#popSelection {
  //modal-popDialog
  .modal-popDialog {
    width: 1105px;
    margin: 0px;
    @include mq(min, 992) {
      @include img-center(both);
    }
    @include mq(max, 1130) {
      width: 95%;
      margin: 40px auto;
    }

    // a
    &, a {
      color: #333;
    }

    //modal-popSelection
    .modal-popSelection {
      @include border-radius(0);
      padding: 55px 52px 65px;
      @include mq(max, 1130) {
        padding: 70px 20px 0;
      }
      @include mq(max, 767) {
        padding: 60px 15px 0;
      }

      h3 {
        @include robotoCondensed(light300);
        color: $black;
        font-size: 32.66px;
        letter-spacing: -0.6px;
        margin-bottom: 69px;
        @include mq(max, 1130) {
          margin-bottom: 20px;
        }
        @include mq(max, 800) {
          font-size: 24px;
        }
      }

      .close {
        position: absolute;
        top: 38px;
        right: 35px;
        line-height: 0;
        z-index: 999;
        font-size: 50px;
        @include roboto(light300);
        @include mq(max, 1130) {
          top: 26px;
          right: 20px;
        }
      }
    }
  }
}

//row-ul
.row-ul {
  margin: 0 auto;
  padding: 0;
  display: table;

  li {
    display: inline-block;
    list-style: none;

    @include mq(max, 800) {
      display: block;
    }
  }

  .col-3 {
    margin-bottom: 15px;
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }

    @include mq(max, 991) {
      margin-left: 20px;
    }
    @include mq(max, 800) {
      margin-left: 0px;
    }
  }
}

//flip-box
.flip-box {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 0 auto;
  @include mq(max, 767) {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &:hover {
    .flip-box-inner {
      @include transform(rotateY(180deg) scale(1.21));
    }

    .flip-box-front{
      opacity: 0;
      visibility: hidden;
    }

    .flip-box-back {
      opacity: 1;
      visibility: visible;
      background-attachment: fixed;
    }
  }
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

//flip-box-inner
.flip-box-inner {
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .flip-box-back{
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.15s;
    -webkit-transition-delay: 0.15s;
    -ms-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
  }
}

//flip-box-front
.flip-box-front {

  border: 1px solid $gray;
  padding: 37px 0;
  transition: 0.5s;

  @include mq(max, 800) {
    margin-left: 0;
  }

  img {
    margin: 0 auto 19px;
  }

  p {
    text-align: center;
    font-size: 25px;
    @include robotoCondensed(light300);
  }

}

.flip-box-back {
  padding: 15px 15px;
  background: $dyellow;
  transition: .5s;
  cursor: pointer;
  @include transform(rotateY(180deg) scale(1));

  h5 {
    @include roboto(regular400);
    font-size: 14px;
    color: $white;
    line-height: 1.5;
    letter-spacing: -0.3px;
    margin-bottom: 4px;
  }

  .btn-submitOk {
    font-size: 24px;
    @include robotoCondensed(bold700);
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    display: block;
    color: $white;

    &:hover, &:active {
      @include box-shadow(none);
    }
  }
}

/*=====================================================================
==========================   footer-section-scss  =========================
========================================================================*/
footer {
  @include full-width;
}

//footer-top
.footer-top {
  padding: 65px 0;
  background: $lightgray;
}

//footer-heading-h3
.footer-heading-h3 {
  h3 {
    @include robotoCondensed(light300);
    font-size: 38.66px;
    text-align: center;
    color: $black;
    line-height: 1.4;
    letter-spacing: -0.9px;
    margin-bottom: 47px;
  }
}

//patner-logo
.patner-logo {
  img {
    margin: 0 auto;
  }
}

//footer-textCenter
.footer-textCenter {
  background: $ftop;
  padding: 63px 0;

  h3 {
    text-align: center;
    color: $white;
    font-size: 23.38px;
    font-family: Arial;
  }
}

//footer-menu
.footer-menu {
  background: $lightblk;
  padding: 30px 15px 15px;
  text-align: center;
  color: $white;
  font-family: arial;

  .list-menu-footer li {
    font-size: 15px;
    margin-bottom: 8px;
  }

  //footer-menuMargin
  .footer-menuMargin {
    margin-bottom: 16px;
    text-align: center;

    .col-sm-2, .col-md-2 {
      text-align: left;
      width: 140px;
      padding: 0 5px;
      float: none;
      display: inline-block;
      vertical-align: top;
      @include mq(max, 767) {
        display: block;
        width: 50%;
        float: left;
        li {
          margin-bottom: 10px;
        }
      }
      @include mq(max, 479) {
        width: 100%;
      }
    }
  }

  //social-icon
  .social-icon {
    margin-bottom: 10px;

    ul {
      li {
        display: inline-block;

        a {
          color: $white;
          font-size: 18px;
          padding: 8px 10px;
          display: block;

          &:hover {
            color: $dyellow;
          }
        }
      }
    }
  }

  //list-menu-footer
  .list-menu-footer {
    ul {
      li {
        a {
          color: $white;

          &:hover {
            color: $dyellow;
          }
        }
      }
    }
  }
}

//footer-logo
.footer-logo {
  img {
    margin: 0 auto;
  }
}

//footer-copright
.footer-copright {
  background: $black;
  padding: 10px 0;

  p {
    font-size: 11px;
    font-family: Arial;
    color: rgba(255, 255, 255, 0.33);
    text-align: center;
  }
}

// champs-etape
.champs-etape {
  font-size: 12.73px;
  color: $black;
  text-align: center;
  padding-top: 24px;
  margin-bottom: 20px;
}

// focus-placeholder
.focus-placeholder {
  label.p-label {
    @include transition(all 0.2s);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
  }

  .form-control + label.p-label {
    font-weight: inherit;
    color: inherit;
    font-size: inherit;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 10px;
    margin: 0;
    cursor: text;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0;
    padding-right: 48px;
    @include mq(max, 991) {
      padding-right: 27px;
      left: 0;
    }
  }

  .form-control:focus + label.p-label,
  .form-control + label.p-label.fill {
    top: -3px;
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    margin-top: 6px;
    font-size: 13.13px;
    @include roboto(regular400);
    padding-right: 10px;
    @include mq(max, 991) {
      padding-right: 0px;
    }
  }

  .form-group input, .form-group select {
    background: transparent;
    position: relative;
    z-index: 8;
  }
}


// select-drop
.focus-placeholder .select-drop,
.form-sec.focus-placeholder .resister-field .form-group.select-drop input,
.form-sec.focus-placeholder .select-drop {
  input {
    @include imgurl(select-pic, png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 36px;
    text-overflow: ellipsis;
    @include mq(max, 991) {
      background-position: right 0px center;
      padding-right: 28px;
    }
  }
}

// openSelction-input
.openSelction-input {
  position: relative;
  cursor: pointer;
  width: 100%;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

// openSelction-select
.openSelction-select {
  position: absolute;
  top: 100%;
  background: #fff;
  margin-top: 11px;
  width: 100%;
  border: solid 1px #858585;
  padding: 17px 73px 17px 15px;
  z-index: 100;
  color: $black;
  display: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @include mq(max, 767) {
    padding: 40px 0px 17px 0px;
  }

  // ul
  ul {
    float: left;
    width: 50%;
    @include mq(max, 1199) {
      width: 100%;
    }
  }

  // li
  li {
    text-align: left;
    @include roboto(regular400);
    font-size: 15px;
    padding: 6px 15px;
    cursor: pointer;
    @include mq(max, 767) {
      font-size: 14px;
    }

    &:hover {
      background: #f5f5f5;
    }
  }

  // close-s
  .close-s {
    position: absolute;
    right: 23px;
    top: 14px;
    padding: 3px 5px;
    z-index: 4;
    cursor: pointer;
    @include mq(max, 767) {
      right: 9px;
      top: 7px;
    }
  }
}

// apporter
.select-drop.apporter {
  .openSelction-select {
    padding: 4px;
  }

  // apporter-default
  &.apporter-default {
    .openSelction-select {
      padding: 0px;
    }

    .openSelction-select li {
      padding: 6px 15px;
      @include roboto(regular400);

      &, .title-li {
        @include roboto(regular400);
        font-size: 15px;
        @include mq(max, 767) {
          font-size: 14px;
        }
      }
    }
  }

  // ul
  ul {
    width: 100%;
  }

  .title-li {
    font-size: 18.73px;
    @include roboto(bold700);
    @include mq(max, 767) {
      font-size: 16.73px;
    }
  }

  .openSelction-select li {
    padding: 21px 15px;
    @include mq(max, 767) {
      padding: 18px 11px;
    }
  }
}
