// profil-header
.profil-header {
  @include full-width;
  @include imgurl(header-blue-prof, png);
  background-size: cover;
  background-position: left 74% bottom;
  background-repeat: no-repeat;
  height: 135px;
  z-index: 10;
  margin-bottom: 64px;
  text-align: left;
  font-size: 15px;
  padding: 13px 33px;
  z-index: 1000;
  @include max-width(1700, 900) {
    background-size: auto 100%;
  }
  @include mq(max, 1024) {
    margin-bottom: 70px;
  }
  @include mq(max, 767) {
    height: 200px;
    padding: 13px 0px;
    background-size: initial;
    margin-bottom: 85px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 50%;
      background: #115873;
    }
  }

  &, & a {
    color: #ebeef1;
  }

  .connexion {
    z-index: 10;
  }

  .connexion ul li:nth-child(2) {
    @include mq(max, 500) {
      padding-left: 4px;
    }
  }

  // container
  .container {
    position: relative;
    padding: 0;
    width: 1081px;
    @include mq(max, 1100) {
      width: 100%;
    }
  }

  .resister-logo {
    position: absolute;
    z-index: 10;
    float: left;
    @include mq(max, 767) {
      position: relative;
      padding: 0 15px;
    }
    // span
    span {
      color: #94b2bf;
      display: block;
      @include robotoCondensed(regular400);
      letter-spacing: 1px;
      margin-top: -4px;
      font-size: 64%;
    }

    .media-left {
      padding-top: 10px;
      padding-right: 26px;
    }

    .media-body {
      width: auto;
    }
  }

  .connexion {
    ul {
      padding: 0;
      margin: 0;

      li {
        padding: 0px;
        margin: 0;
        width: auto;
        float: none;
        display: inline-block;

        a {
          font-size: 15px;
        }
      }
    }
  }


  // nav-icon-right
  .nav-icon-right {
    text-align: right;
    font-size: 0;
    margin-top: 13px;
    padding: 0 15px;
    @include mq(max, 991) {
      margin-top: 10px;
    }
    @include mq(max, 767) {
      margin-top: 31px;
      float: left;
      width: 100%;
      position: static;
    }

    li {
      display: inline-block;
      font-size: 15px;
      margin-left: 34px;
      position: relative;
      @include mq(max, 767) {
        position: static;
        display: block;
        width: 25%;
        float: left;
        font-size: 15px;
        margin-left: 0;
        text-align: left;
      }

      &:first-child {
        margin-left: 0;
      }

      a {
        position: relative;
      }

      // connexion
      .connexion {
        li {
          margin-left: 0;
        }
      }
    }

    // badge
    .badge {
      position: absolute;
      z-index: 12;
      top: -7px;
      right: -11px;
      background: #fd2817;
      width: 24px;
      line-height: 24px;
      padding: 0;
      text-align: center;
      font-size: 20px;
      color: #fff;
      border-radius: 50%;
      @include roboto(bold700);
      @include mq(max, 991) {
        font-size: 16px;
        top: -9px;
        right: -15px;
      }
    }
  }

  // indice
  .indice {
    background: $white;
    width: 128px;
    height: 128px;
    text-align: center;
    @include border-radius(300);
    border: solid 8px #c1d2da;
    position: absolute;
    right: 24.7%;
    top: 71px;
    @include mq(max, 767) {
      right: 24%;
      top: 151px;
    }

    .indice-block {
      strong {
        display: block;
      }

      p {
        margin: 0;
        color: #115873;
        font-size: 14px;
        letter-spacing: 1px;
        @include robotoCondensed(regular400);
        line-height: 15.34px;

        strong {
          @include robotoCondensed(bold700);
          font-weight: 700;
        }

        span {
          color: $dyellow;
          font-size: 42.86px;
          margin-top: 18px;
          display: inline-block;
        }
      }
    }
  }
}

// profil-footer
.profil-footer {
  @include full-width;
  background: $black;
  text-align: center;
  padding: 29px 0 18px;
  @include robotoCondensed(regular400);

  span {
    padding-top: 6px;
    padding-bottom: 25px;
    text-transform: uppercase;
    display: block;
    color: #707070;
    font-size: 11px;
  }

  p, p a {
    &, &:hover {
      color: #a5a5a5;
    }
  }
}

// cell-p
.cell-p {
  display: table;
  width: 100%;
  height: 100%;
}

// cell-v
.cell-v {
  display: table-cell;
  vertical-align: middle;
}


// aline-la-master
.aline-la-master {
  @include full-width;
  padding-bottom: 47px;
  background: #f8f9fa;
  text-align: center;
  overflow: hidden;
  // col-sm-8
  .col-sm-4 {
    width: 316px;
    @include mq(max, 1339) {
      width: 30%;
    }
    @include mq(max, 1024) {
      width: 100%;
      float: left;
    }
    @include mq(max, 767) {
      padding: 0;
    }
  }

  // col-sm-8
  .col-sm-8 {
    width: 971px;
    padding-right: 0;
    padding-left: 30px;
    @include mq(max, 1339) {
      width: 70%;
    }
    @include mq(max, 1024) {
      padding-right: 15px;
      padding-left: 15px;
      width: 100%;
      float: left;
    }
    @include mq(max, 767) {
      padding-right: 0px;
      padding-left: 0px;
    }
  }

  // advisor-col
  .advisor-col {
    @include mq(min, 1025) {
      padding: 0;
    }
    @include mq(max, 1024) {
      padding-bottom: 40px;
      background-repeat: no-repeat;
    }
  }

  // inline-center
  .inline-center {
    display: inline-block;
    font-size: 15px;
    text-align: left;
    @include mq(max, 1339) {
      display: block;
      width: 100%;
      float: left;
      padding: 0 15px;
    }
    @include mq(max, 1024) {
      padding: 0px;
    }
    @include mq(max, 991) {
      padding: 0 15px;
    }
  }
}

// profil-slide
.profil-slide {
  padding: 0 57px;
  @include mq(max, 1339) {
    padding: 0 42px;
  }
  @include mq(max, 767) {
    padding: 0;
    padding-top: 52px;
  }

  .media-body, .media-left, .media-right {
    @include mq(max, 767) {
      display: block;
      width: auto;
    }
  }


  // img
  .media-left {
    padding-right: 21px;
    @include mq(max, 1339) {
      padding-right: 15px;
    }
    @include mq(max, 767) {
      padding-right: 0px;
      padding-bottom: 20px;
    }

    img {
      width: 138px;
      height: auto;
      margin-bottom: 8px;
      max-width: none;
      @include mq(max, 1270) {
        width: 112px;
      }
      @include mq(max, 767) {
        width: 100%;
      }
    }
  }

  // btn-mentor
  .btn-custom.btn-mentor {
    background: #a9a9a9;

    &:hover {
      background: darken(#a9a9a9, 10);
    }

    &, &:hover, &:focus, &:active {
      color: $white;
    }

    @include mq(max, 767) {
      margin-bottom: 0;
    }
  }

  //media-body
  .media, .media-body {
    overflow: visible;
  }

  .media-body {
    img {
      width: auto;
    }

    h3 {
      font-size: 28px;
      @include robotoCondensed(bold700);
      text-transform: uppercase;
      margin-bottom: 15px;
      color: $black;
      padding-right: 0;
      @include min-max(1200, 1366) {
        font-size: 25px;
        padding-right: 30px;
      }
      @include min-max(991, 1199) {
        font-size: 22px;
      }
    }

    // img
    img {
      margin-bottom: 15px;
    }

    h4 {
      font-size: 19.35px;
      @include robotoCondensed(regular400);
      text-transform: uppercase;
      color: $black;
      margin-bottom: 15px;

      @include min-max(1200, 1366) {
        font-size: 18px;
      }
    }

    h5 {
      @include roboto(bold700);
      font-size: 16px;
      color: $black;
    }

    p {
      font-size: 15px;
      @include roboto(regular400);
      color: $black;
      margin-bottom: 15px;
      padding-top: 12px;
    }
  }


  &.owl-carousel .owl-dots.disabled,
  &.owl-carousel .owl-nav.disabled {
    display: block;
  }

  // owl-nav
  .owl-nav {
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      color: $white;
      font-size: 0;
      width: 30px;
      height: 36px;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      @include mq(max, 767) {
        top: 0;
        @include transform(translateY(0));
        border: solid 1px #ccc;
        background-size: 10px;
        width: 37px;
        height: 43px;
        background-color: #fbfbfb;
        &:hover {
          background-color: lighten(#fbfbfb, 5);
        }
      }
    }

    .owl-prev {
      position: absolute;
      left: 0px;
      @include imgurl(prev-prof, png);
      @include mq(max, 767) {
        left: auto;
        right: 52px;
        top: 0;
      }
    }

    .owl-next {
      position: absolute;
      right: 0px;
      @include imgurl(next-prof, png);
    }
  }
}

// la-master
.la-master {
  @include full-width;
  padding: 22px 30px;
  border: solid 1px #e6e7e8;
  background: #fff;
  @include border-radius(8);
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.10));
  @include mq(max, 1339) {
    padding-right: 15px;
    padding-left: 15px;
  }

  // title-la
  .title-la {
    u {
      margin-bottom: 2px;
      display: block;
      color: $black;
      text-transform: uppercase;
      font-size: 13px;
      text-align: right;
      @include robotoCondensed(regular400);
      @include mq(max, 767) {
        margin-bottom: 15px;
        text-align: left;
      }
    }

    h4 {
      color: $black;
      text-transform: uppercase;
      font-size: 21.13px;
      margin-bottom: 58px;
      @include robotoCondensed(regular400);
      @include mq(max, 1339) {
        margin-bottom: 37px;
      }
      @include mq(max, 767) {
        margin-bottom: 20px;
      }

      span {
        color: #115873;
      }
    }
  }
}

// je-col
.je-col {
  .col-sm-5 {
    width: 37.5%;
    padding: 0;
    @include mq(max, 991) {
      width: 100%;
      float: left;
    }
  }

  .col-sm-7 {
    width: 62.5%;
    padding-right: 0;
    @include mq(max, 991) {
      width: 100%;
      float: left;
      padding: 0;
    }
  }
}

// je-propose
.media-body .je-propose, .je-propose {
  position: relative;
  text-align: center;
  background-size: auto;
  background-position: left 5px center;
  background-repeat: no-repeat;
  @include imgurl(right-arrow-gray, png);
  padding-left: 34px;
  @include mq(max, 991) {
    margin-top: 30px;
    border-top: solid 2px #8a8a8a;
    margin-top: 30px;
    padding-left: 0;
    background-image: none;
    padding-top: 28px;
    &:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #8a8a8a transparent;
    }
  }
  // img
  img {
    margin: 0 auto;
    display: inline-block;
  }

  h4 {
    font-size: 15px;
    text-transform: none;
    @include robotoCondensed(bold700);

    img {
      vertical-align: middle;
      display: inline-block;
    }
  }
}

// les-derniers
.les-derniers {
  .media-body {
    h3 {
      font-size: 22px;
      text-transform: uppercase;
      @include robotoCondensed(bold700);
      margin-bottom: 13px;
    }

    // U
    a.propose-c {
      @include robotoCondensed(regular400);
      font-size: 17px;
      margin-bottom: 21px;
      display: inline-block;

      &, &:hover {
        color: #115873;
      }

      // u
      u {
        @include robotoCondensed(bold700);
      }
    }

  }

  ul {
    font-size: 0;
    @include robotoCondensed(regular400);

    li {
      display: inline-block;
      @include mq(max, 991) {
        margin-bottom: 10px;
      }

      a.btn {
        font-size: 15px;
        background: #464646;
        color: #fff;
        padding: 0px 16px;
        @include robotoCondensed(regular400);

        &.red-b {
          background: #fa001d;
        }

        &.blue-b {
          background: #00d2dc;
        }
      }
    }

    &.link-exper {
      li {
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }

        a, a:hover {
          color: $white;
        }
      }
    }

    &.post-date-j {
      @include robotoCondensed(regular400);
      margin-top: 36px;
      @include mq(max, 767) {
        margin-top: 24px;
      }

      li {
        font-size: 17px;
        position: relative;
        padding-right: 36px;
        letter-spacing: 0.4px;
        margin-bottom: 10px;
        @include mq(max, 767) {
          padding-right: 0px;
          font-size: 15px;
          display: block;
        }

        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 18px;
          height: 22px;
          width: 1px;
          background: #000000;
          @include mq(max, 767) {
            display: none;
          }
        }

        // last-child
        &:last-child {
          padding-right: 0px;

          &:after {
            display: none;
          }
        }
      }

      img {
        vertical-align: middle;
        display: inline-block;
        margin: 0;
        margin-right: 13px;
        position: relative;
        top: -1px;
        width: 25px;
        @include mq(max, 767) {
          margin-right: 6px;
        }
      }
    }
  }
}

// denavis
.la-master.denavis {
  .btn-custom.btn-mentor {
    background: #316981;
    @include mq(min, 768) {
      font-size: 10px;
      padding: 1px 5px;
    }

    &:hover {
      background: darken(#316981, 5);
    }
  }

  // star-rank
  ul.star-rank.sm {
    margin-bottom: 0;
  }

  .media-body {
    h3 {
      font-size: 18px;
      margin-bottom: 11px;
    }

    h4 {
      font-size: 14.57px;
      margin-bottom: 12px;
    }

    img {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
    }
  }

  .media-left {
    padding-right: 15px;
    @include mq(max, 767) {
      padding-right: 0px;
    }

    img {
      width: 83px;
      @include mq(max, 767) {
        width: 100%;
      }
    }
  }

  p {
    color: $black;
    font-size: 14px;
    line-height: 24.3px;
    margin: 0;
    margin-top: 9px;
    @include robotoCondensed(regular400);
  }
}

// start-num
strong.start-num {
  color: $black;
  font-size: 14px;
  @include robotoCondensed(bold700);
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  margin-left: 4px;
  letter-spacing: 0.4px;
}

// title-ministre
.title-ministre {
  @include full-width;
  text-align: left;
  padding-bottom: 19px;
  padding-top: 12px;
  color: $black;
  @include mq(max, 1024) {
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include mq(max, 767) {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }

  // start-num
  .start-num {
    margin-left: 19px;
    font-size: 13.63px;
    @include robotoCondensed(regular400);
    font-weight: 400;
  }

  // h2
  h2 {
    margin-bottom: 7px;
    font-size: 37.61px;
    text-transform: uppercase;
    @include robotoCondensed(bold700);
    @include mq(max, 767) {
      font-size: 34.61px;
    }
    @include mq(max, 479) {
      font-size: 32.61px;
    }
  }

  // p
  p {
    @include robotoCondensed(bold700);
    font-size: 18px;
    margin: 0;
    margin-top: 12px;
    @include mq(max, 375) {
      font-size: 16px;
    }

    span {
      color: $dyellow;
    }

    a {
      color: $black;
      display: inline-block;

      &:hover {
        color: lighten($black, 35);
      }
    }
  }
}

// advisor-demande
.advisor-demande {
  @include full-width;
  text-align: right;

  ul {
    margin-top: 11px;
    margin-bottom: 33px;
    display: block;
    float: left;
    width: 100%;

    li {
      position: relative;
      color: $black;
      padding: 8px 24px 8px;
      border-bottom: solid 1px #d7d8d8;
      font-size: 17.89px;
      @include robotoCondensed(regular400);

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        right: 0px;
        height: 9px;
        width: 9px;
        background: #000000;
      }

      @include mq(max, 479) {
        font-size: 15px;
      }

      // strong
      strong {
        @include robotoCondensed(bold700);
        font-weight: 700;
      }
    }
  }

  // p
  p {
    width: 100%;
    float: left;
    color: #115873;
    font-size: 19px;
    @include robotoCondensed(bold700);
    @include mq(max, 479) {
      font-size: 17px;
    }

    img {
      margin-left: 9px;
      @include mq(max, 479) {
        margin-left: 7px;
      }
    }
  }
}

// round-in-block
.round-in-block {
  background: #cdd5d5;
  width: 139px;
  height: 139px;
  text-align: center;
  @include border-radius(300);
  float: right;
  position: relative;
  z-index: 10;
  margin-top: 10px;
  margin-bottom: 24px;
  @include box-shadow(-11px -8px 0px -7px #f8f9fa);

  span {
    display: inline-block;
    background: $dyellow;
    width: 56px;
    line-height: 56px;
    font-size: 23.51px;
    color: $white;
    @include robotoCondensed(regular400);
    text-transform: uppercase;
    @include border-radius(300);
    position: absolute;
    left: 50%;
    top: 126px;
    margin-left: -28px;
  }

  .round-in {
    overflow: hidden;
    @include border-radius(300);
    // img
    img {
      width: 100%;
      height: 100%;
    }
  }

}

// left-texture-advisor
.left-texture-advisor {
  @include imgurl(advisior-blue, png);
  text-align: right;
  height: 278px;
  width: 100000px;
  position: absolute;
  right: 60px;
  top: 10px;
  background-repeat-y: no-repeat;
  background-repeat-x: repeat;
  padding-right: 96px;
  letter-spacing: 1px;
  margin-top: 3px;
  @include mq(max, 1024) {
    padding-right: 112px;
  }

  // gray-advisor
  &.gray-advisor {
    @include imgurl(advisior-gray, png);
    height: 111px;

    // socialicons-advisor
    .socialicons-advisor {
      text-align: left;
      width: 369px;
      float: right;
      position: absolute;
      bottom: -42px;
      right: 0;
      @include mq(max, 1570) {
        text-align: right;
        width: 100%;
        padding-right: 140px;
      }
      @include mq(max, 1199) {
        padding-right: 100px;
      }
      @include mq(max, 767) {
        padding-right: 110px;
      }
      @include mq(max, 375) {
        padding-right: 100px;
        top: 152px;
        right: -130px;
        z-index: 100;
      }

      li {
        vertical-align: top;
        display: inline-block;
        margin-right: 9px;
        position: relative;
        @include transition(all 0.3s);

        &:last-child {
          margin-right: 0px;
        }

        &:hover {
          @include transform(translateY(-3px));
        }
      }

      a {
        color: #8b8c8c;
        text-decoration: none;
        font-size: 23px;

        img {
          position: relative;
          top: -2px;
        }
      }
    }

  }

  // span
  span {
    color: $white;
    font-size: 19.21px;
    @include roboto(bold700);
    line-height: 33px;
    display: block;
  }
}

// sidenav
.sidenav {
  padding-top: 0px;
  background-color: #4891b5;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 1200;
  top: 0;
  left: -100%;
  height: 100%;
  max-width: 359px;
  width: 100%;
  color: $white;
  @include transition(all 0.3s);
  @include robotoCondensed(regular400);

  &:before {
    content: '';
    background: #2b3741;
    position: absolute;
    top: 0;
    width: 55px;
    height: 100%;
    min-height: 700px;
  }

  .media-navleft {
    width: 55px;
    float: left;
    position: relative;
    z-index: 10;

    a {
      @include transition(all 0.3s);
      display: block;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  // media-navbody
  .media-navbody {
    overflow: hidden;
    padding: 58px 51px;
    @include mq(max, 991) {
      padding: 53px 41px;
    }
    @include mq(max, 767) {
      padding: 45px 36px;
    }
    @include mq(max, 479) {
      padding: 40px 15px;
    }

    ul {
      margin-top: 34px;
      padding-top: 22px;
      border-top: solid 1px #afcfde;
      @include mq(max, 767) {
        margin-top: 30px;
        padding-top: 18px;
      }

      &:first-child {
        margin-top: 0px;
        padding-top: 0px;
        border-top: none;
      }
    }

    li {
      margin-bottom: 16px;
      @include mq(max, 767) {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        @include transition(all 0.3s);
        @include robotoCondensed(regular400);
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1.5px;
        color: $white;
        @include mq(max, 767) {
          letter-spacing: 1px;
        }
        @include mq(max, 479) {
          letter-spacing: 0.6px;
        }

        span {
          display: block;
          font-size: 11px;
          color: $black;
          padding-top: 6px;
        }

        &:hover {
          color: rgba(255, 255, 255, 0.65);
        }
      }
    }
  }
}

/* bootstrap-tagsinput */
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.resister-field .form-group .bootstrap-tagsinput .badge-info,
.bootstrap-tagsinput .badge-info {
  color: #fff;
  background-color: #949494;
  border-radius: 3.5px;
  -webkit-border-radius: 3.5px;
  -ms-border-radius: 3.5px;
  -moz-border-radius: 3.5px;
  -o-border-radius: 3.5px;
  font-family: 'roboto_condensedregular', sans-serif;
  font-size: 13px;
  font-weight: 400;
  padding: 6px 8px 6px 14px;
  position: relative;
  line-height: 15px;
}

.bootstrap-tagsinput .badge {
  margin: 3px 6px 3px 0;
  padding: 5px 4px 5px 8px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
  margin: -3px 0;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "";
  background-image: url(../img/fullsize-close.png);
  width: 20px;
  background-position: center;
  height: 20px;
  background-repeat: no-repeat;
  background-size: auto;
  display: inline-block;
}

.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.resister-field .form-group .bootstrap-tagsinput span {
  color: #ffffff;
}

.full-img {
  width: 100%;
}

.sidenav.active-nav {
  left: 0;
}

// sidenav-overlay
.sidenav-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  z-index: 1100;
}

// roket-resister
.peopleblub.roket-resister {
  margin: -6px 0px;
}

// ui-widget-header
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  color: $black;
}

// ui-datepicker-div
div#ui-datepicker-div {
  z-index: 99999 !important;
}

// keyboard-add
.resister-field .form-group.keyboard-add {
  input {
    font-family: 'robotoregular', sans-serif;
    font-weight: 400;
    background-image: none;
  }
}

// keyboard-add
.form-group.keyboard-add {
  cursor: text;

  .bootstrap-tagsinput.focus ~ label.p-label {
    top: -3px;
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    margin-top: 6px;
    font-size: 13.13px;
    @include roboto(regular400);
    padding-right: 10px;
    @include mq(max, 991) {
      padding-right: 0px;
    }
  }

  // input-group
  .input-group {
    margin-top: -7px;

    .bootstrap-tagsinput {
      border: solid 1px #a1a1a1;
      min-height: 35.19px;
      padding: 2px 6px;
      width: 380px;
      @include mq(max, 991) {
        width: 100%
      }
    }

    span.input-group-addon {
      padding: 2px 18px;
      padding-left: 0;
      background: transparent;
      border: none;
      font-size: 15px;
      font-family: 'robotoregular', sans-serif;
      font-weight: 400;
      position: relative;
      top: -1px;
      @include mq(max, 991) {
        padding-left: 0;
      }
    }
  }

  // -ms-clear
  input::-ms-clear {
    display: none;
  }

  // form-control
  .form-control {
    display: none;
  }

  // bootstrap-tagsinput
  .bootstrap-tagsinput {
    height: auto;
    padding: 6.5px 10px 4.5px;
    min-height: 45px;
    margin-top: -1px;
    @include mq(max, 991) {
      padding: 6.5px 0px;
    }

    // input
    input {
      vertical-align: text-bottom;
      font-size: 13px;
      width: auto;
      height: 23px;
      margin: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      position: relative;
      top: 2px;
      padding: 0;
    }
  }
}

// keyboard-subtitle
.keyboard-subtitle {
  width: 100%;
  float: left;
  margin-top: -42px;
  margin-bottom: 14px;
  padding: 0 10px;
  @include mq(max, 991) {
    padding: 0px;
  }

  p {
    margin: 0;
    font-family: Arial;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.64);
    font-style: italic;
    margin-bottom: 3px;
  }
}

// apportant-startup
.apportant-startup {
  display: none;
}


// apportant-toggle
.resister-field-startup .form-group .apportant-toggle {
  @include full-width;
  padding: 29px 16px 0;
  color: $black;
  margin-top: -42px;
  @include mq(max, 991) {
    padding: 24px 0px 0;
  }

  p {
    @include roboto(regular400);
    font-size: 16px;
  }

  // custom-check
  .merci-choisir.custom-check {
    margin-top: 29px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;

    &.par {
      margin-bottom: -26px;
    }

    .form-check.right-check-box {
      width: 33.33%;
      margin-right: 0;
      margin-bottom: 26px;
      @include mq(max, 1199) {
        width: 50%;
      }
      @include mq(max, 767) {
        width: 100%;
      }
    }
  }
}

// quelles-btn
.quelles-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// star-rank
ul.star-rank {
  display: inline-block;

  li {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    color: #d5d7d8;
    margin-right: 1px;

    &.active {
      color: #fac917;
    }
  }

  // sm
  &.sm {
    margin-bottom: 15px;
    background-size: auto;

    li {
      font-size: 13px;
    }
  }
}

// quelles-transmettre
.quelles-transmettre {

  .form-group.keyboard-add, .resister-field-startup .form-group .merci-choisir {
    display: none;
  }

  // bootstrap-tagsinput
  .form-group.keyboard-add .input-group .bootstrap-tagsinput {
    width: 74%;
    @include mq(max, 991) {
      width: 80%;
    }
    @include mq(max, 767) {
      width: 100%;
    }
  }

  .form-group.keyboard-add .bootstrap-tagsinput input {
    min-width: auto;
  }

  // form-group
  .resister-field-startup .form-group {
    .merci-choisir {
      margin: 0;
      padding: 14px 9px 0;
    }

    .merci-choisir.custom-check .form-check.right-check-box {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 9px;
    }
  }


  // input-group
  .resister-field .form-group.keyboard-add {
    z-index: 12;
    margin-top: 12px;
    margin-bottom: 38px;
    @include mq(max, 991) {
      margin-top: 10px;
      margin-bottom: 36px;
    }
    @include mq(max, 767) {
      margin-bottom: 32px;
    }

    .input-group {
      @include mq(min, 992) {
        padding: 0 6px;
      }
    }
  }

  // form-group
  .resister-field {
    padding: 0;

    .form-group {
      border: none;
      margin-bottom: 16px;

      span.title-span {
        padding: 0;
        font-size: 16px;
        cursor: pointer;
        font-family: 'robotoregular', sans-serif;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.3;
        display: block;

        &.active {
          font-family: 'robotobold', sans-serif;
          font-weight: 700;
        }
      }

      .bootstrap-tagsinput .badge-info, .bootstrap-tagsinput .badge-info {
        padding: 3px 6px 3px 10px;
        height: 22px;
        line-height: 16px;
      }

      .bootstrap-tagsinput .badge [data-role="remove"] {
        top: -2px;
      }
    }

  }

  // col-md-6
  .col-md-6 {
    width: 100%;
    float: left;
  }
}

// badge-notification
.badge-notification {
  z-index: 30;
}

// notifications-advisor
.notifications-advisor, .profil-header .nav-icon-right li .notifications-advisor {
  position: absolute;
  right: -67px;
  top: -24px;
  width: 582px;
  font-size: 16px;
  z-index: 20;
  background: #fff;
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.20));
  @include transform(scale(0.4));
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  @include transform-origin(top right);
  @include mq(max, 767) {
    right: 0;
    top: 94px;
    width: 100%;
    @include transform-origin(top left);
  }

  &.active {
    @include transform(scale(1));
    visibility: visible;
    opacity: 1;
  }


  .title-header {
    float: left;
    width: 100%;
    background: #17313c;
    color: #fff;
    padding: 32px 41px 12px;
    text-align: left;
    font-size: 16px;
    font-family: 'robotoregular', sans-serif;
    letter-spacing: 1.4px;
    @include mq(max, 767) {
      padding: 32px 15px 12px;
      margin-right: 0px;
      display: block;
      width: 100%;
    }

    u {
      float: right;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.65);
      font-family: 'roboto_condensedregular', sans-serif;
      margin-right: 65px;
      letter-spacing: 0.4px;
      margin-top: 3px;
      @include mq(max, 767) {
        margin-right: 0px;
        width: 100%;
        padding-top: 4px;
      }
    }
  }

  // ul
  ul {
    padding: 18px 0 8px;
    display: block;
    width: 100%;
    float: left;
    @include mq(max, 767) {
      padding: 0px;
    }

    li {
      display: block;
      margin: 0;
      font-family: 'robotoregular', sans-serif;
      color: #000;
      font-size: 15px;
      border-bottom: solid 1px #cccccc;
      padding: 13px 41px;
      text-align: left;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      line-height: 1.4;
      cursor: pointer;
      width: 100%;
      @include mq(max, 767) {
        padding: 13px 15px;
        background-size: auto;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: #f1f5f7;
      }

      i {
        color: #115873;
      }
    }
  }
}

// openSelction-select
.form-group.souhaitez .openSelction-select {
  padding: 20px 29px 4px;
  overflow-x: hidden;
  overflow: auto;
  @include mq(max, 767) {
    padding: 16px 15px;
  }
}

// videomodal
#videomodal {
  padding: 0 !important;
  // modal-dialog
  .modal-dialog {
    height: 100%;
    width: 71.65%;
    margin: 0 auto;
    @include mq(max, 991) {
      width: 80%;
    }
    @include mq(max, 767) {
      width: 100%;
    }
  }

  .modal-body {
    padding: 0;
  }

  .modal-content {
    position: relative;
    background: transparent;
    border: none;
    @include box-shadow(none);
    border-radius: 0px;
  }

  button.close {
    position: absolute;
    right: -30px;
    top: -30px;
    width: 30px;
    height: 30px;
    opacity: 1;
    z-index: 10;
    color: #fff;
    text-shadow: none;
    background: #ff9900;
    @include mq(max, 767) {
      z-index: 10;
      right: 15px;
      right: 15px;
      width: 45px;
      height: 45px;
      top: -45px;
    }

    &:before, &:after {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -9px;
      margin-left: -2px;
      content: ' ';
      height: 18px;
      width: 2px;
      background-color: #fff;
    }

    &:before {
      @include transform(rotate(45deg));
    }

    &:after {
      @include transform(rotate(-45deg));
    }

  }
}


// votre-wallet
.votre-wallet {
  @include full-width;
  color: $black;
  font-size: 21px;
  font-family: 'roboto_condensedregular';

  // col-sm-4
  .col-sm-5 {
    width: 38%;
    @include imgurl(textlft-marketing, jpg);
    background-size: auto;
    background-position: left top;
    background-repeat: repeat-y;
    padding-left: 28px;
    margin-top: 45px;
    @include mq(max, 1199) {
      width: 100%;
      float: left;
      background-image: url('../img/textlft-marketing.jpg'), url('../img/textlft-marketing.jpg');
      background-position: left, right;
      padding-left: 20px;
      padding-right: 20px;

    }
  }

  // col-sm-7
  .col-sm-7 {
    width: 62%;
    @include mq(max, 1199) {
      width: 100%;
      float: left;
    }
  }

  .title-wallet {
    font-size: 21.13px;
    letter-spacing: -0.4px;
  }

  blockquote {
    position: relative;
    border-left: none;
    overflow: hidden;
    margin: 26px 0px 45px 16px;
    font-size: 21px;
    font-style: italic;
    padding: 0 28px 12px;
    line-height: 1.3;
    font-weight: 400;
    @include mq(max, 479) {
      margin: 26px 0px 45px 0px;
      font-size: 18px;
      padding: 0 15px 12px;
    }
    @include mq(max, 400) {
      font-size: 16px;
      margin: 24px 0px 40px 0px;
    }

    &:before {
      content: '';
      position: absolute;
      left: -11px;
      top: 20px;
      width: 16px;
      height: 16px;
      border: 2px solid #000;
      @include transform(rotate(45deg));
      background: #fff;
      z-index: 10;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      height: 100%;
      border-left: 2px solid #000;
    }
  }
}

// marketing-process
.marketing-process {
  border: 1px solid #a1a1a1;

  .marketing-gray {
    color: #000;
    background-color: #a1a1a1;
    height: 14px;
  }

  &.out {
    border-color: #e8e8e8;

    .marketing-gray {
      background-color: #e8e8e8;
    }
  }
}

// marketing-pie
.marketing-pie {
  width: 100%;
  float: left;

  &, .btn {
    font-size: 18.39px;
  }

  .media {
    margin-top: 0;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .media-body, .media-left, .media-right {
    vertical-align: middle;
  }

  // mtxt-process
  .mtxt-process {
    width: 36px;
    text-align: left;
  }

  // ul
  ul.spot-pie {
    li {
      color: #6a4d9f;
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        width: 16px;
        height: 16px;
        background: #6a4d9f;
        display: inline-block;
        vertical-align: baseline;
        margin-right: 6px;
      }

      // pink-li
      &.pink-li {
        color: #f0679b;

        &:before {
          background: #f0679b;
        }
      }
    }
  }

  // notify-btn
  .notify-btn {
    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    // btn
    a.btn {
      position: relative;
      text-transform: uppercase;
      color: #000;
      border: solid 1px #cccccc;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 64px;
      text-align: left;
      @include border-radius(0);
      background: $white;

      &:hover {
        color: #595959;
      }

      // img
      img {
        position: absolute;
        left: 18px;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }
  }

  hr {
    width: 100%;
    float: left;
    border-color: #e0e0e0;
    margin: 17.5px 0;
  }

  // spot-col
  .spot-col {
    width: 100%;
    float: left;
    padding: 0 27px;
    @include mq(max, 1199) {
      padding: 0 20px;
    }
    @include mq(max, 991) {
      padding: 0 15px;
    }
    @include mq(max, 639) {
      padding: 0 10px;
    }
    @include mq(max, 479) {
      padding: 0 5px;
    }
  }
}

// historique-des
.historique-des .owl-carousel .owl-item,
.historique-des {
  th img {
    width: 17px;
    margin-left: 2px;
    display: inline-block;
  }
}

// historique-des
.historique-des {
  width: 100%;
  float: left;
  color: #191919;
  font-family: 'robotoregular';
  margin-top: 106px;

  &, h6, table {
    font-size: 16px;
  }

  th {
    @include roboto(bold700);
    font-size: 14px;
  }

  // table
  .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border: none;
    vertical-align: middle;
    @include mq(min, 767) {
      padding-left: 21px;
      padding-right: 21px;
    }
  }

  // td
  .table th {
    height: auto;
    padding-top: 8px;
    padding-bottom: 21px;
  }

  .table td {
    height: 33px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;

    .upicon {
      display: none;
    }

    @include mq(max, 767) {
      height: auto;
      padding-top: 8px;
      padding-bottom: 8px;
      .upicon {
        display: inline-block;
        float: left;
        top: 3px;
        position: relative;
        margin-left: 4px;
      }
    }
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background: #f8fafc;
  }

  @include mq(max, 767) {
    table {
      border: 0;
    }


    table thead {
      display: none;
    }

    table tr {
      display: block;
      padding: 12px 5px;
    }

    table td {
      display: block;
      text-align: right;
    }

    table td::before {
      content: attr(data-label);
      float: left;
      @include roboto(bold700);
      font-size: 16px;
      background-repeat: no-repeat;
    }

    table td:last-child {
      border-bottom: 0;
    }
  }


  h6 {
    color: $black;
    @include roboto(bold700);
    overflow: hidden;
    margin-bottom: 29px;

    span {
      position: relative;
      display: inline-block;

      &:before {
        content: '';
        width: 10000px;
        height: 1px;
        background: #c9c9c9;
        position: absolute;
        right: -24px;
        top: 50%;
        @include transform(translateX(100%));
      }
    }
  }
}

// pagination-historique
.pagination-historique {
  text-align: center;
  font-size: 0;
  margin: 0 -15px;
  margin-top: 66px;
}

.pagination-historique a {
  color: #53565a;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0px 2px;
  width: 26px;
  line-height: 26px;
  text-decoration: none;
  transition: all .3s;
  font-size: 16px;
  margin: 0 10px 10px;
  @include mq(max, 767) {
    margin: 0 8px 10px;
  }
  @include mq(max, 479) {
    width: 28px;
    line-height: 28px;
    margin: 0 4px 10px;
  }
  @include mq(max, 360) {
    width: 24px;
    line-height: 24px;
    margin: 0 4px 10px;
    font-size: 14px;
    margin: 0 3px 10px;
  }

  &:first-child:hover {
    @include transform(translateX(-2px));
  }

  &:last-child:hover {
    @include transform(translateX(2px));
  }

  // img
  img {
    position: relative;
    top: -2px;
    @include transition(all 0.2s);
  }
}

// element
.element-pie {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

// upicon
.owl-carousel .owl-item img.upicon,
.upicon {
  width: 17px;
  margin-left: 2px;
}

.pagination-historique a.active {
  background-color: #53565a;
  color: white;
}

.element-content {
  position: absolute;
  left: 15%;
  top: 15%;
  width: 69%;
  height: 69%;
  z-index: 4;

  .cell-p {
    background: $white;
    @include border-radius(400);
  }

  h4 {
    color: $black;
    margin: 0;
    font-size: 104px;
    text-transform: uppercase;
    margin: -7px 0 -5px;
    font-weight: 300;
    font-family: 'roboto_condensedlight', sans-serif;
  }

  p {
    font-size: 18.46px;
    text-transform: uppercase;
    margin: 0;
    color: rgba(0, 0, 0, 0.60);
  }
}

// very-specific-design
#very-specific-design {
  width: 351px;
  height: 351px;
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  @include transform(translate3d(-50%, 0, 0));
  @include transform-origin(center);
  opacity: 0;
}

// percentpie-val
.percentpie-val {
  position: absolute;
  top: 0;
  font-size: 34.56px;
  color: #ed3193;
  @include robotoCondensed(regular400);

  &.left {
    right: 100%;
    color: #674ea0;
    top: 152px;
    margin-right: 56px;
    @include mq(max, 767) {
      top: auto;
      left: -42px;
      bottom: -68px;
      margin-right: 0px;
    }
  }

  &.right {
    right: auto;
    left: 100%;
    color: #ed3193;
    margin-left: 62px;
    top: 44px;
    @include mq(max, 767) {
      top: -66px;
      bottom: auto;
      margin-left: -6px;
    }
  }
}

.media {
  width: 100%;
  float: left;
}

// mentors-sont
.mentors-sont {
  width: 100%;
  float: left;
  color: $black;
  margin-bottom: 15px;

  ul {
    width: 100%;
    margin-bottom: 34px;
    float: left;
    @include mq(max, 767) {
      text-align: center;
    }
  }

  .li-sont {
    position: relative;
    z-index: 4;
    letter-spacing: 0.4px;
    font-size: 18.54px;
  }

  li {
    position: relative;
    cursor: pointer;
    text-align: left;
    width: 128px;
    background: #fff;
    color: #000;
    float: left;
    border: dashed 1px #000;
    margin-right: 14px;
    margin-bottom: 14px;
    padding: 4px 11px;
    @include robotoCondensed(regular);
    @include transition(all 0.2s);
    @include border-radius(4);

    &:last-child {
      margin-right: 0;
    }

    @include mq(max, 767) {
      width: 28%;
      display: inline-block;
      float: none;
    }
    @include mq(max, 479) {
      width: 100%;
      display: block;
      float: left;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }


    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #cecece;
      z-index: 2;
      @include transition(all 0.2s);
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      color: $white;
      border: dashed 1px #cecece;

      &:before {
        opacity: 1;
        visibility: visible;
      }
    }

    span {
      display: block;
      text-align: right;
      font-size: 47.63px;
      line-height: 0.8;
      position: relative;
      margin-top: 8px;
      padding-left: 22px;
      margin-bottom: 6px;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }

  p {
    width: 100%;
    float: left;
    @include roboto(regular);
    font-size: 16px;
    line-height: 1.8;
    @include mq(max, 767) {
      font-size: 14px;
    }
  }
}

// col-ministre
.col-ministre {
  @include full-width;
  padding-right: 62px;
  @include mq(max, 767) {
    padding-right: 30px;
  }

  .share-atre {
    position: absolute;
    right: 32px;
    bottom: 3px;
    @include mq(max, 767) {
      right: 0px;
    }
  }
}

// chauffer
.chauffer {
  text-transform: uppercase;
  display: inline-block;
  text-align: left;
  @include roboto(regular);
  font-size: 14px;
  padding: 0 20px;
  @include mq(max, 600) {
    padding: 0;
    float: left;
    width: 100%;
    br {
      display: none;
    }
  }
}

// non-logue
.non-logue {
  .media-left img {
    max-width: none;
    @include mq(max, 375) {
      width: 50px;
    }
  }

  // pull-left
  .media-left, .media > .pull-left {
    padding: 0;
    @include mq(max, 600) {
      padding-right: 15px;
    }
  }

  // media
  .media {
    overflow: visible;
  }

  // cell-p
  .cell-p {
    height: 53px;
    @include mq(max, 600) {
      height: auto;
      padding: 11px 0;
    }
  }

  .cell-v {
    line-height: 2;
    color: $black;
    a{
      color: $black;
    }
    @include mq(max, 600) {
      line-height: 1.4;
    }
  }

  // media-right
  .media-body, .media-left, .media-right {
    vertical-align: middle;
    @include mq(max, 600) {
      vertical-align: top;
    }
  }

  // media-body
  .media-body {
    width: 424px;
    @include mq(max, 767) {
      width: 100%;
    }
  }

  // col-xs-4
  .col-xs-4 {
    border-right: dotted 1px #000;
    text-align: center;
    padding: 0 5px;
    @include mq(max, 767) {
      padding: 0px;
    }
    @include mq(max, 600) {
      width: 100%;
      border-right: none;
      border-bottom: dotted 1px #000;
      text-align: left;
    }

    &:last-child {
      border-right: none;
      border-bottom: none;
    }
  }
}

.la-master.non-logue {
  padding-top: 34px;
  padding-bottom: 52px;
}

//  centres-ministre
.centres-ministre {
  .ftr-key p {
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 18px;
    word-break: break-all;

    img {
      position: relative;
      top: -2px;
      width: 18px;
      margin-right: 9px;
      padding: 0;
    }
  }

  ul.star-rank {
    margin-bottom: 10px;
  }

  h4 {
    font-size: 22.21px;
    @include robotoCondensed(regular400);
  }
}

// advisor-wrap
.advisor-wrap {
  @include full-width;
  margin-bottom: 30px;
  @include mq(max, 375) {
    padding-bottom: 19px;
  }
}

// matching-potential
.matching-potential {
  @include full-width;
  text-align: center;
  margin-top: -17px;
  @include mq(max, 1024) {
    margin-top: 17px;
  }
  // h4
  h4 {
    font-family: 'robotobold', sans-serif;
    color: $black;
    font-size: 14.21px;
    line-height: 1.5;
  }

  // ul
  ul {
    width: 100%;
    margin-top: 20px;

    li {
      position: relative;
      text-align: left;
      display: table;
      width: 100%;
      height: 63px;
      border: solid 1px #dddede;
      margin-bottom: 7px;
      background: $white;

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        background: #115873;

        a {
          color: $white;
        }
      }

      a {
        padding: 6px 65px;
        display: table-cell;
        vertical-align: middle;
        font-family: 'robotobold', sans-serif;
        color: $black;
        font-size: 17px;
        @include mq(max, 479) {
          padding: 6px 54px;
          font-size: 16px;
        }
        @include mq(max, 400) {
          font-size: 15px;
        }
        @include mq(max, 375) {
          padding: 6px 48px;
        }

        &:active {
          background-image: none;
          outline: 0;
          -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }


      }

      img {
        position: absolute;
        left: 20px;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }
  }


  .progressb {
    width: 95px;
    height: 95px;
    background: none;
    position: relative;
    margin: 9px auto 0;

    .progress-bar {
      color: #d3dfe4;
    }

    .font-weight-bold {
      background: #ff9900;
      border-radius: 50%;
      color: #fff;
      font-size: 32.09px;
      width: 75px;
      line-height: 75px;
      @include roboto(regular);
      font-weight: 300;

      sup.small {
        font-size: 19.21px;
        top: -14px;
        right: -4px;
        margin-left: -14px;
      }
    }
  }

  .progressb > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .progressb .progress-left {
    left: 0;
  }

  .progressb .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }

  .progressb .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }

  .progressb .progress-right {
    right: 0;
  }

  .progressb .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    background: transparent;
  }

  .progressb .progress-value {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
}

// competences-recherchees
.competences-recherchees {
  @include full-width;
  padding: 37px 0 18px;

  h4 {
    @include robotoCondensed(regular400);
    color: $black;
    font-size: 21px;
    letter-spacing: -0.5px;

    &.sky-recher {
      position: relative;
      overflow: hidden;
      padding-bottom: 17px;
      margin-bottom: 13px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        border-bottom: 2px solid #33a0c0;
      }

      &:after {
        content: '';
        position: absolute;
        left: 15px;
        bottom: -12px;
        width: 16px;
        height: 16px;
        border: 2px solid #33a0c0;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        background: #f8f9fa;
        z-index: 10;
      }
    }
  }
}

// competences-wrap
.competences-wrap {
  font-size: 0;
  text-align: left;
  margin-top: 45px;
  width: 100%;
  float: left;
  @include mq(max, 991) {
    margin-top: 0px;
  }

  h4 {
    margin-bottom: 46px;
    @include mq(max, 991) {
      margin-bottom: 36px;
    }
    @include mq(max, 767) {
      margin-bottom: 26px;
    }
  }

  // round
  .round {
    position: relative;
    @include robotoCondensed(regular400);
    width: 24%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    @include mq(max, 1270) {
      width: 32%;
    }
    @include mq(max, 767) {
      width: 48%;
    }
    @include mq(max, 479) {
      width: 100%;
      float: left;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    label {
      font-size: 20px;
      position: relative;
      @include robotoCondensed(regular400);
      font-weight: 400;
      width: 100%;
      padding-left: 31px;
      padding-right: 10px;
      cursor: pointer;
      margin: 0;
    }
  }

  .round label:before {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 3px;
    height: 24px;
    width: 24px;
    margin: 0;
    @include imgurl(ticl-s-white, png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    @include transition(all 0.2s);
  }

  .round label:after {
    content: "";
    border-top: none;
    border-right: none;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 3px;
    height: 24px;
    width: 24px;
    @include transition(all 0.2s);
  }

  .round input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
  }

  .round input[type="checkbox"]:checked + label:before {
    opacity: 0;
    visibility: hidden;
  }

  .round input[type="checkbox"]:checked + label:after {
    @include imgurl(ticl-s, png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }
}

// recher-tags
.recher-tags {
  width: 100%;
  float: left;
  margin-bottom: 58px;
  @include mq(max, 991) {
    margin-bottom: 48px;
  }
  @include mq(max, 767) {
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // tags-recher-sm
  .tags-recher-sm {
    text-align: center;
    font-size: 19.12px;
    font-family: 'roboto_condensedregular', sans-serif;
    font-weight: 400;
    border: solid 1px #c7cbcd;
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom: 6px;
    display: inline-block;
    padding: 0px 13px;
    min-width: 119px;
    &.bluerecher {
      background: #00d2dc;
      border-color: #00d2dc;
      color: $white;
      min-width: 93px;
    }
    &.brownrecher {
      background: #c5790c;
      border-color: #c5790c;
      color: $white;
      min-width: 93px;
    }

    &.pinkrecher {
      background: #fb2181;
      border-color: #fb2181;
      color: $white;
      min-width: 93px;
    }
  }
}